################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RoslynAnalyzerAndFixture/RoslynAnalyzerAndFixture/RoslynAnalyzerAndFixture.Vsix/obj/Debug
