################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RoslynAnalyzerAndFixture/RoslynAnalyzerAndFixture/RoslynAnalyzerAndFixture.Vsix/obj/Debug
/RoslynAnalyzerAndFixture/RoslynAnalyzerAndFixture/RoslynAnalyzerAndFixture/bin/Debug
/RoslynAnalyzerAndFixture/RoslynAnalyzerAndFixture/RoslynAnalyzerAndFixture/obj/Debug
/RoslynAnalyzerAndFixture/RoslynAnalyzerAndFixture/RoslynAnalyzerAndFixture.Test/bin/Debug
/RoslynAnalyzerAndFixture/RoslynAnalyzerAndFixture/RoslynAnalyzerAndFixture.Test/obj/Debug
/RoslynAnalyzerAndFixture/RoslynAnalyzerAndFixture/RoslynAnalyzerAndFixture.Vsix/bin/Debug
